<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale=1.0">
    <link rel="stylesheet" href="css/joinChatroom.css">
    <title>Join Chatroom</title>
</head>

<body>
    <div class="header">
        <h1 id="welcome-message">Welcome to Portal 1</h1>
    </div>
    <main>
        <div class="join-div">
            <img src="images/teamwork.jpg" alt="">
            <div class="search-rooms">
                <h1>Search Rooms</h1>
                <div class="search-bar" id="room-name-bar">
                    <input type="text" class="search-area" id="search-area-name" placeholder="Start searching"
                        name="search-area-name">
                    <button id="search-name"><img id="search-icon" src="images/search.png" alt="search"></button>
                    <div class="suggestions-list-box">
                        <div class="suggestions-list"></div>
                    </div>
                </div>
            </div>
            <div class="search-room-id">
                <h3>Have a room ID?</h3>
                <div class="search-bar" id="room-id-bar">
                    <input type="text" class="search-area" id="search-area-id" placeholder="Write ID"
                        name="search-area-id">
                    <button id="search-id"><img id="search-icon" src="images/search.png" alt="search"></button>
                </div>
            </div>
        </div>
        <div class="create-div">
            <img src="images/hardwork.jpg" alt="">
            <div class="create-room">
                <h1>Create a room</h1>
                <div class="room-name-bar">
                    <input type="text" placeholder="Write room name..." id="room-name-area" name="room-name-area">
                    <button id="create-grp-btn">Create</button>
                </div>
                <h4 id="special-requirments">Special requirments</h4>
            </div>
        </div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/joinChatroom.js"></script>
</body>

</html>