<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/chotuKiIcecream.css">
    <title>Chotu ki Icecream</title>
    <style>
        .rating{
           color: #e48f10; 
        }
        
    </style>
</head>

<body>
    <div class="job-card-container">
        <div class="job-card">
            <img src="/images/CKI/shopLogo.jpg" alt="Logo" class="shop-logo">
            <h3 class="shopname"><strong>Chotu ki Icecream</strong></h3>
            <p>  <span class="rating"> &#9733; 4.7</span></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="grey" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
            </svg>Delhi/ NCR</p>
            
        </div>
    </div>


    <div class="shell">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="wsk-cp-product">
                        <div class="wsk-cp-img">
                            <img src="/images/CKI/chocolate.jpg"
                                alt="Product" class="img-responsive" height:"200px" />
                        </div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>Sticks</span>
                            </div>
                            <div class="title-product">
                                <h3>Chocobar</h3>
                            </div>
                            <div class="description-prod">
                                <p>Delicious chocolate flavored stick</p>
                            </div>
                            <div class="card-footer">
                                <div class="wcf-left"><span class="price">Rs.30.00</span></div>
                                <div class="wcf-right"><a href="#" class="buy-btn"><i
                                            class="zmdi zmdi-shopping-basket"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wsk-cp-product">
                        <div class="wsk-cp-img"><img
                                src="/images/CKI/TwoinOne.jpg"
                                alt="Product" class="img-responsive" /></div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>Cones</span>
                            </div>
                            <div class="title-product">
                                <h3>2 in One Cone</h3>
                            </div>
                            <div class="description-prod">
                                <p>Double flavored (strawberry and vanilla) ice cream cone</p>
                            </div>
                            <div class="card-footer">
                                <div class="wcf-left"><span class="price">Rs.40.00</span></div>
                                <div class="wcf-right"><a href="#" class="buy-btn"><i
                                            class="zmdi zmdi-shopping-basket"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wsk-cp-product">
                        <div class="wsk-cp-img"><img
                                src="/images/CKI/blackCurrant.jpg"
                                alt="Product" class="img-responsive" /></div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>Cones</span>
                            </div>
                            <div class="title-product">
                                <h3>Black Currant Cone</h3>
                            </div>
                            <div class="description-prod">
                                <p>Delicious black currant flavored cone</p>
                            </div>
                            <div class="card-footer">
                                <div class="wcf-left"><span class="price">Rs.60.00</span></div>
                                <div class="wcf-right"><a href="#" class="buy-btn"><i
                                            class="zmdi zmdi-shopping-basket"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wsk-cp-product">
                        <div class="wsk-cp-img"><img
                                src="/images/CKI/customCombo.jpg"
                                alt="Product" class="img-responsive" /></div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>Combos</span>
                            </div>
                            <div class="title-product">
                                <h3>Choose any 3</h3>
                            </div>
                            <div class="description-prod">
                                <p>Choose any 3 sticks from our wide range of flavors</p>
                            </div>
                            <div class="card-footer">
                                <div class="wcf-left"><span class="price">Rs.100.00</span></div>
                                <div class="wcf-right"><a href="#" class="buy-btn"><i
                                            class="zmdi zmdi-shopping-basket"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>