<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIO-the All in One place</title>
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="images/AIO logo.png" alt="AIO-the All in One Place">
        </div>
        <div class="description">
            <h2 id="AIO-slogan">The All in One place</h2>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/joinChatroom">Portal 1</a></li>
            <li><a href="/">Portal 2</a></li>
            <li><a href="/">Portal 3</a></li>
            <li><a href="/">About Us</a></li>
            <li><a href="/">Contact Us</a></li>
        </ul>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <hr>
    <main class="main">
        <div class="heading-slogan">
            <h1>EMPOWERING HANDS AND PRESERVING HERITAGE</h1>
        </div>
        <div class="intro">
            <p>Join us in revolutionizing heritage preservation by empowering daily wage workers to safeguard and
                maintain our cultural treasures while finding job opportunities.</p>
        </div>
        <div class="account-buttons">
            <button id="signup">Signup</button>
            <button id="login">Login</button>
        </div>
        <div class="portal-explore">
            <h3 onclick="scrollToElement('cards-container')">Explore our portals</h3>
        </div>
        <div class="cards-container">
            <div class="card" id="portal1">
                <img class="portals-img" src="images/portal1 svg.jpg" alt="">
                <h2>Portal 1</h2>
                <p>Introducing our platform, a nexus for community and commerce. Connect with diverse interest groups
                    and create e-commerce communities where sellers showcase their products for direct local
                    transactions. Experience a seamless blend of social engagement and authentic online shopping, all in
                    one vibrant space. Welcome to a new era of connected communities and personalized e-commerce.</p>
                <button>Learn More</button>
            </div>

            <div class="card" id="portal2">
                <img class="portals-img" src="images/portal2 svg.jpg" alt="">
                <h2>Portal 2</h2>
                <p>Elevate your project endeavors through our innovative platform, fostering a collaborative ecosystem
                    where skilled laborers seamlessly connect with users. From small-scale tasks to medium-sized
                    projects, experience the power of efficient collaboration, bringing your vision to fruition with
                    precision and ease. Join a community of dedicated professionals and enthusiasts, united by the
                    common goal of turning ideas into successful realities.</p>
                <button>Learn More</button>
            </div>

            <div class="card" id="portal3">
                <img class="portals-img" src="images/portal3 svg.jpg" alt="">
                <h2>Portal 3</h2>
                <p>Introducing a game-changing AI-powered job role prediction tool. Simply upload your
                    CV, and watch as it guides you to the perfect job match, eliminating the hassle of sifting through
                    numerous listings. AIO's innovative approach ensures a seamless and efficient job search experience,
                    aligning your skills with the opportunities that matter most. Elevate your career journey with AIO's
                    smart and precise job role predictions.</p>
                <button>Learn More</button>
            </div>
        </div>
        <div class="our-story">
            <div class="story-text">
                <h2>Our Story</h2>
                <p>IIITN proudly introduces AIO - The All-In-One Place, a visionary platform aligned with Sustainable
                    Development Goal 8. Comprising three dynamic portals, AIO offers users the ability to create
                    e-commerce sites and engage in community discussions. Portal 2 stands out as the heart of our
                    mission, connecting skilled laborers directly with those in need, fostering collaboration and
                    teamwork through a review and bidding system. Meanwhile, Portal 3 leverages AI to predict job roles
                    from CVs, streamlining the job search process. AIO is more than a platform; it's a holistic
                    ecosystem, driving entrepreneurship, connecting laborers, and embracing AI for a smarter workforce,
                    all contributing to a more prosperous future.</p>
            </div>
            <div class="story-img">
                <img src="images/Our Story.jpg" alt="">
            </div>
        </div>
        <div class="video-tutorial">
            <h2>Watch our tutorial!</h2>
            <iframe src="https://www.youtube.com/embed/Ym9oT3UObc0?si=jgiy68MnDXyzyx3c" frameborder="0"
                allowfullscreen></iframe>
        </div>
    </main>
    <footer>
        <div class="contact-details">
            <div class="social-handles">
                <h3>Feel free to reach out</h3>
                <div class="icons">
                    <img src="images/Icons/linkedin.png" alt="">
                    <img src="images/Icons/instagram.png" alt="">
                    <img src="images/Icons/github.png" alt="">
                    <img src="images/Icons/youtube.png" alt="">
                    <img src="images/Icons/gmail.png" alt="">
                </div>
            </div>
        </div>
    </footer>

    <script src="js/home.js"></script>
</body>

</html>