<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale=1.0">
    <link rel="stylesheet" href="css/joinChatroom.css">
    <title>Join Chatroom</title>
</head>

<body>
    <div class="header">
        <h1 id="welcome-message">Welcome to Portal 1</h1>
    </div>
    <main>
        <div class="join-div">
            <img src="images/teamwork.jpg" alt="">
            <div class="search-rooms">
                <h1>Looking for local shops?</h1>
                <button id="search-btn">Search here</button>
            </div>
        </div>
        <div class="create-div">
            <img src="images/hardwork.jpg" alt="">
            <div class="create-room">
                <h1>Ready to start your own shop?</h1>
                <div class="room-name-bar">
                    <input type="text" placeholder="Write shop name..." id="room-name-area" name="room-name-area">
                    <button id="create-grp-btn">Create</button>
                </div>
                <h4 id="special-requirments">Special requirments</h4>
            </div>
        </div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/joinChatroom.js"></script>
</body>

</html>