<html lang="en">

<head>
    <title>Harvest vase</title>
    <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi"
        rel="stylesheet">
    <style>
        body {
            background-color: #fdf1ec;
        }

        .wrapper {
            height: 270px;
            width: 500px;
            margin: 50px auto;
            border-radius: 7px 7px 7px 7px;
            display: flex;

            -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        }

        .product-img {
            height: 100%;
            width: 50%;
        }

        .product-img img {
            height: 100%;
            width: 100%;
            border-radius: 7px 0 0 7px;
        }

        .product-info {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 327px;
            border-radius: 0 7px 10px 7px;
            background-color: #ffffff;
        }

        .product-text {
            height: 230px;
            width: 327px;
        }

        .product-text h1 {
            margin: 0 0 0 38px;
            padding-top: 52px;
            font-size: 34px;
            color: #474747;
        }

        .product-text h1,
        .product-price-btn p {
            font-family: 'Bentham', serif;
        }

        .product-text h2 {
            margin: 0 0 47px 38px;
            font-size: 13px;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            color: #d2d2d2;
            letter-spacing: 0.2em;
        }

        .product-text p {
            height: 125px;
            margin: 0 0 0 38px;
            font-family: 'Playfair Display', serif;
            color: #8d8d8d;
            line-height: 1.7em;
            font-size: 15px;
            font-weight: lighter;
            overflow: hidden;
        }

        .product-price-btn {
            height: 103px;
            width: 327px;
            margin-top: 1px;
            position: relative;
            padding-left: 20px;
        }

        .product-price-btn p {
            display: block;
            height: 50px;
            font-family: 'Trocchi', serif;
            margin: 0 0 0 38px;
            font-size: 28px;
            font-weight: lighter;
            color: #474747;
        }

        .product-price-btn button {
            display: inline-block;
            height: 50px;
            width: 176px;
            margin: 0 40px 0 16px;
            box-sizing: border-box;
            border: transparent;
            border-radius: 60px;
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            color: #ffffff;
            background-color: #f78625  ;
            cursor: pointer;
            outline: none;
        }

        .product-price-btn button:hover {
            background-color: #79b0a1;
        }
    </style>

</head>

<body>
    <div class="wrapper">
        <div class="product-img">
            <img src="http://bit.ly/2tMBBTd" height="420" width="327">
        </div>
        <div class="product-info">
            <div class="product-text">
                <h1>Search Designation</h1>
                <h2></h2>
            </div>
            <div class="product-price-btn">
                
                <button type="button">Search Designation</button>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="product-img">
            <img src="http://bit.ly/2tMBBTd" height="420" width="327">
        </div>
        <div class="product-info">
            <div class="product-text">
                <h1>Resume Analysis</h1>
                <h2></h2>
            </div>
            <div class="product-price-btn">
               
                <button type="button">Resume Analysis</button>
            </div>
        </div>
    </div>
</body>

</html>